@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&family=Rubik+Bubbles&display=swap");

@media (min-width: 768px) {
  .offcanvas.offcanvas-start.d-md-flex {
    transform: none !important;
    visibility: visible !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 17% !important;
    height: 100vh !important;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
}

/* body {
  font-family: "Barlow", sans-serif;
} */

.text-super-besar {
  font-size: 60px;
}
.text-putih {
  color: #ffffff;
}

.rubik-bubbles-regular {
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
}

.nav-link {
  font-size: 18;
  font-weight: 500;
  margin: 0px 10 px;
}

/* button */
.btn {
  font-size: 18;
  font-weight: 500;
  border-radius: 30px;
  padding: 10px 25px;
}

.btn-info:hover {
  background-color: #dcf4fa;
}

/* end konfirmasi pop up */
.social-icon {
  transition: transform 0.3s ease;
}
.social-icon:hover {
  transform: scale(1.1);
}

.card {
  transition: transform 0.3s ease;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.card-img-top {
  height: 180px;
  object-fit: cover;
}

.image {
  transition: transform 0.3s ease;
  border: none;
  border-radius: 5%;
  height: 300px;
  object-fit: cover;
}

.image:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
