@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

@media (min-width: 768px) {
  .offcanvas.offcanvas-start.d-md-flex {
    transform: none !important;
    visibility: visible !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 17% !important;
    height: 100vh !important;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
}

/* body {
  font-family: "Barlow", sans-serif;
} */

/* Font */
.barlow {
  font-family: "Barlow", sans-serif;
}

.nunito {
  font-family: "Nunito", sans-serif;
}

.text-super-besar {
  font-size: 60px;
}
.text-besar {
  font-size: 50px;
}

.text-sedang {
  font-size: 30px;
}

.text-normal {
  font-size: 18px;
}

.text-kecil {
  font-size: 14px;
}

/*warna*/
.text-hitam {
  color: black;
}

.text-abu {
  color: #b7b7b7;
}

.text-putih {
  color: #ffffff;
}

.text-oren {
  color: #ffac77;
}

.text-biru {
  color: #71a8ff;
}

/* navbar */

.nav-link {
  font-size: 18;
  font-weight: 500;
  margin: 0px 10 px;
  color: white;
}

/* button */
.btn {
  font-size: 18;
  font-weight: 500;
  border-radius: 30px;
  padding: 10px 25px;
}

.btn-info:hover {
  background-color: #dcf4fa;
}

/* end konfirmasi pop up */
.social-icon {
  transition: transform 0.3s ease;
}
.social-icon:hover {
  transform: scale(1.1);
}

.card {
  transition: transform 0.3s ease;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.card-img-top {
  height: 180px;
  object-fit: cover;
}
